#bookmark-menu-container {
    display: flex;
    flex-direction: column;
}

.bookmarked-crypto-price-tag {
    padding: 0.4rem;
    border: 0.1rem solid #38ada9;
    border-radius: 1rem;
    max-width: 13rem;
    margin: 1.5rem auto;
    text-decoration: none;
    color: black;
    height: 10rem;
}
