.App {
  text-align: center;
}

#router-nav-link-container {
  display: flex;
  align-items: center;
}

.active{
  background-color: #c7ecee;
}

.router-nav-link {
  border: 0.3rem solid #c7ecee;
  height: 3rem;
  border-radius: 0.8rem;
  flex: 1 1 0;
  font-size: 1.1rem;
  padding-top: 1rem;
  margin: 0.5rem;
  text-decoration: none;
  color: black;
}

.font-source-show {
  font-size: 0.8rem;
  margin: 1rem;
}